@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
  --branco: #ffffff;
  --cor-de-fundo: #130066;
  --fundo-senha: #3a067e;
  --fundo-texto: #a02cff3d;
  --borda: #d793ff;
  --roboto: 'Roboto', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --roxo-claro: #be6fff;
  --rosa: #ff66bf;
  --azul: #001aff;
}

* {
  margin: 0;
